*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.checkbox {
	width: 350px;
	height: 48px;
	display: flex;
	align-items: center;
	margin-left: 51px;
	font-size: 14px;
	font-weight: 400;
	color: #CDCDCD;
	line-height: 48px;
}
.email:focus {
	outline: none;
}
.password:focus {
	outline: none;
}
.yanzhengma:focus {
	outline: none;
}
input[type=checkbox]{
    width: 14px;
    height: 14px;
    margin-top: 2px;
    position: relative;
	background: #CDCDCD;
	border-color: #CDCDCD;
}
input[type=checkbox]::after {
    position: absolute;
    top: 0;
    color: #CDCDCD;
	border-color: #CDCDCD;
    width: 14px;
    height: 14px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 3px;
}
input[type=checkbox]:checked::after {
	content: "✓";
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    background: #54A49D;
}
.yanzheng {
	margin: 0 auto;
	width: 350px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
.yanzhentext {
	width: 164px;
	height: 48px;
	background: #F6F7F9;
	border: 1px solid #c6cddc;
	border-radius: 2px;
	font-size: 24px;
	font-weight: 900;
	color: #54A49D;
	line-height: 48px;
	margin-left: 20px;
}
.yz {
	width: 164px;
	height: 48px;
	background: #D19942;
	border-radius: 2px;
	color: #FFFFFF;
	 border: 1px solid #D19942;
	 margin-left: 20px;
	
}
.background {
	width: 100%;
	height: 100%;
	background: url(../image/bj.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
}
.logo {
	width: 320px;
	height: 93px;
	display: block;
	position: relative;
	top: 22%;
	left: 58%;
}
.section{
    width: 472px;
    height: 420px;
    background-color: #FFFFFF;
    padding: 8px 10px;
	position: relative;
	top: 28%;
	left: 58%;
}
.all{
    width: 450px;
    height: 405px;
}
.nav{
	display: flex;
	justify-content: space-around;
    height: 50px;
}
.nav>a{
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.nav>a[class="on-2-login"]{
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
}
.login{
	width: 130px;
    background-color: #FFFFFF;
}
.login.on{
	width: 130px;
    background-color: #FFFFFF;
	 border-bottom: 2px solid #333333;
	 color: #333333;
}
.contentbox{
    width: 450px;
}
.cont-1>input{
    width: 350px;
    height: 46px;
    border: 1px solid #c6cddc;
}
.email{
    background-image: url(../image/img1-coin1_03.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
}
.password{
	/* width: 200px;
	height: 48px;
	background: #F6F7F9;
	border-radius: 2px;
	border: 1px solid #F6F7F9;
	text-align: center; */
    background-image: url(../image/img1-coin2_03.png);
    background-repeat: no-repeat;
	background-position: 10px 12px;
}
.yanzhengma {
	width: 200px;
	height: 46px;
	line-height: 46px;
	padding-left: 40px;
	border: 1px solid #c6cddc;
	background-image: url(../image/img1-coin3_03.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
}
.cont-1>input{
    line-height: 46px;
    padding-left: 40px;
}
.cont-1>input[name="txt"]{
    margin-top: 35px;
}
.cont-1>input[name="psd"]{
    margin-top: 17px;
}
.verify{
    margin: 0 auto;
    width: 352px;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #c4cbd1;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #b9bbb8;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    behavior: url(PIE.htc);
}
.verify:hover{
    cursor: pointer;
	
}
.btn{
    width: 350px;
    height: 44px;
    background-color: #54A49C;
	border: 1px solid #54A49C;
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
}
.btn:hover{
    background-color: rgba(121,177,212,0.9);
}
.about{
    width: 350px;
    height: 26px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 46px;
}
.about>a{
    text-decoration: none;
    color: #4e6d99;
}
.about>a>span{
    width: 1px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ccd2d0;
}
/*cont:2*/
.cont-2>.text{
    margin: 0 auto;
    width: 350px;
    height: 30px;
    font-size: 15px;
    display: inline-block;
    margin-top: 30px;
}
.cont-2>.text>a{
    text-decoration: none;
    color: #4174a9;
    font-weight: bold;
}
.cont-2>img{
    margin-top: 62px;
}
.contentbox>div{
    width: 450px;
    height: 350px;
    text-align: center;
    display: none;
    background-color: #FFFFFF;
}
.cont-2>.about{
    margin-top: 24px;
}
.contentbox>div[class="box active"]{
    display: block;
}
/*这是低端浏览器下placeholder的字体颜色*/
.cont-1>input{
    color: #bfbfbf;
}
/*这是firefox下placeholder的字体颜色*/
.cont-1>input::-moz-placeholder {
    color: #bfbfbf;
}
/*这是webkit下placeholder的字体颜色*/
.cont-1>input::-webkit-input-placeholder {
    color: #bfbfbf;
}
